@charset "UTF-8";


/*Background*/

body
{
  background-image: url("fish.jpg");
}
ul{
    list-style-type: none;
}

h1{
  text-align: center;
}
.main-nav a{
  text-decoration: none;
  background: rgb(70,130,180);
  color: white;
  display:block;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.main-nav a:hover{
  background: white;
  color: black;
}

.List1{
  background-image: url(lures.jpg);
  background-size: cover;
}

/* Navigation Styles */
.List1 ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
}

.List1 li{
  text-align: center;
  float: inherit;
}
